/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';

html {
	height: 100%;
	width: 100%;
}

body {
	background: white;  /* fallback for old browsers */
	background-image: asset-data-url("fedex.jpg");
	background-size: cover;
	color: white;
	height: 100%;
	width: 100%;
}

#whole {
	
	height: 100%;
}

#mytable {

  background-color: #CCCECF;
  border: none;
  border-radius: 15px;
  color: black;
  padding: 60px;
  height: 77%;
  opacity: 0.78;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto 15px;
}

.title {
	padding-bottom: 40px;
}

.myemails {
	border-left: 1px solid gray;
	padding-left: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.emailcontent {

    position: absolute;
	top: 80px;
	left: 50px;

}

.body {
	display: none;
}



.myobjects {
	overflow: scroll;
	height: 100%;
	padding-left: 15px;
}

.date p {
	font-size: 16px;
	color: gray;
	margin-top: 0;
	padding-top: 0;
    margin-bottom: 0;
}

.yes {
	font-weight: bold;
}

.emailobj {
	padding-bottom: 50px;
}

.thisobject {
	font-weight: bold;
}


.allobj a {
	display: block;
	text-decoration: none;
    color: black;
    border-bottom: 1px solid gray;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 10px;
}

.allobj a:hover {
	text-decoration: none;
    color: black;
    background-color: #589DED;
}